html {
	scroll-behavior: smooth;
}

body {
	background-color: #6AC0D3;
	background: url(Bg.png) center top no-repeat, url(Drift.png) center fixed no-repeat;
	background-size: 1400px 1400px;
}

@font-face {
  font-family: FortniteFont;
  src: url(fortnitefont.ttf);
}

p,h1,h2,h3,h4,h5,h6,li,a,td,th,caption{
	text-align: center;
	color: #D36C6A;
	font-family: FortniteFont;
}

a {
	text-decoration:none;
	font-size: 25px;
	-webkit-text-stroke-width: 1.5px;
    	-webkit-text-stroke-color: black;
}

h2 {
	font-size: 50px;
	-webkit-text-stroke-width: 1.5px;
    	-webkit-text-stroke-color: black;
}

h1 {
	font-size: 100px;
	-webkit-text-stroke-width: 1.5px;
    	-webkit-text-stroke-color: black;
}

p, th, td{
	font-size:25px;
	-webkit-text-stroke-width: 0.5px;
    	-webkit-text-stroke-color: black;
}

hr {
	border: 3px dotted #D36C6A;	
}
